.img-fluid {
        max-width: 400px;
        margin: 100px 100px 100px 100px;
    
}

.fondomain {
    background-image: url(https://c8.alamy.com/comp/W7JRKH/various-hand-drawn-food-cookery-dishes-doodle-outline-white-chalk-sketch-seamless-pattern-on-black-background-vector-drawing-cooking-cartoon-graphic-art-illustration-W7JRKH.jpg);
    display: flex;
    flex-direction: column;
    padding: 14px;

}